html {
  background: #f5f5f5;
}

.header {
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 38rem;
}

.header .title {
  margin: 0;
  font-size: 1.75rem;
  color: #495060;
}

.main {
  margin: 0 auto;
  margin-top: 1.25rem;
  max-width: 38rem;
}

.main .description {
  margin: 0;
  font-size: 1.25rem;
  color: #495060;
}

.in-file-upload-container {
  background: #fff;
  margin-top: 1rem;
  width: 340px;
  height: 200px;
  max-width: 100%;
  border-radius: 10px;
  border: 1px dashed #d9d9d9;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: border .1s;
}

.in-file-upload-container:hover {
  border: 1px dashed #03a9f4;
}

.in-file-upload-container.in-file-upload-dragger{
  border: 3px solid #03a9f4;
}

.in-file-upload-dragger .in-file-upload-icon{
  margin-top: 38px;
}

.in-file-upload-icon {
  margin-top: 40px;
  font-size: 67px;
  color: rgb(51, 153, 255);
  display: inline-block;
  transition: margin .1s;
}

.in-file-upload-container > div {
  color: #495060;
  font-size: 14px;
}

.in-file-upload-container > div span {
  color: rgb(51, 153, 255);
  font-size: 14px;
}

.in-file-upload-result {
  background: #fff;
  margin-top: 1.25rem;
  padding: 5px 10px;
  width: 340px;
  max-width: 100%;
  max-height: 200px;
  line-height: 1.5;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  color: #495060;
  font-size: 14px;
  overflow: hidden;
  word-break: break-all;
  cursor: pointer;
}